<!DOCTYPE html>
{% extends 'base.html'%}

{%block body_block%}
<div class="row mt-5">
    <div class="col-3"></div>
        <div class="col-6">
            <div class="card" style="width: 18rem;">
                <img src="{{mobile.image.url}}" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{mobile.mobile_name}}</h5>
                    <p class="card-text">{{mobile.specs}}</p>
                </div>
                <ul class="list-group-flush">
                    <li class="list-group-item">{{mobile.price}}</li>
                    <li class="list-group-item">{{mobile.brand}}</li>
                    <li class="list-group-item">{{mobile.memory}}</li>
                    <li class="list-group-item">{{mobile.os}}</li>

                </ul>
            </div>
        </div>
</div>
{%endblock%}